* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 500;
    font-family: "open sans", sans, sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-size: 1rem;
    height: 2vh;
}

h1,
h2 {
    font-family: 'Tiro Gurmukhi', serif;
    font-weight: 600;
    font-size: 2.7rem;
    text-align: left;
}

h3 {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Tiro Gurmukhi', serif;
    padding-top: 4%;
    text-align: left;
}

ul {
    margin: 0;
    list-style-type: none;
    flex-grow: 0.5;
}

li {
    margin: 0;
    padding: 0px 5px;
    font-size: 0.8rem;
    text-decoration: none;
    display: block;
    text-align: center;
    background: none;
}

.center_element {
    margin-right: 3rem;
    margin-left: 3rem;
}

.center_element h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.center_element p {
    font-size: 1rem;
    text-align: left;
    padding-left: 0;
    padding-top: 1rem;
}

.center_element button {
    display: block;
}

.explore {
    height: 3rem;
    width: 10rem;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: 0rem 2.8rem;
}

.courses {
    align-items: top;
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

.courses-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
    align-items: stretch;
    padding-bottom: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2) inset;
    width: 100%;
    height: 500%;
    padding: 0% 0.8%;
}

.nav-items {
    display: flex;
    margin-bottom: 0.1%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-size: 0.8rem;
    width: 100%;
}

.nav-items button {
    border: 1px solid black;
    height: 3rem;
    width: 5rem;
    position: relative;
}

.nav-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
}

.nav-buttons button {
    margin-left: 10px;
    width: 80px;
    outline: none;
}

#reg {
    background: black;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

#log {
    font-weight: bold;
    font-size: 0.8rem;
    background: white;
}

#language {
    width: 3rem;
    background: none;
}

#log:hover,
#language:hover {
    background: whitesmoke;
}

img {
    width: 6rem;
    margin: 0rem;
}

form {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.cat {
    margin: 0 0.5rem;
}

input {
    padding: 0;
    font-size: 0.8rem;
    width: 100%;
}

input:focus {
    outline: none;
    text-decoration: none;
}

nav a,
.shopping-cart {
    color: black;
    text-decoration: none;
}

nav a:hover,
.shopping-cart:hover {
    color: purple;
}

.search-icon {
    position: absolute;
    color: grey;
}

.search-icon:hover {
    color: purple;
}

.search-container {
    flex-grow: 1;
    width: 100%;
    border-radius: 15rem;
    border: black 1px solid;
    position: relative;
    background-color: whitesmoke;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
}

.search-icon,
.search-bar {
    border: none;
    position: relative;
    float: left;
    background: none;
}

.search-container button {
    border: none;
    background: none;
}

.search-bar {
    font-size: 120%;
}

.logo img {
    margin: 0 auto 0 auto;
    flex-grow: 1;
    display: block;
}

.logo {
    padding-left: 10%;
}

.menu {
    display: none;
    border: none;
}

.author {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

section {
    margin: 3rem 7rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

section h1,
p {
    padding-left: 11rem;
    font-family: 'Tiro Gurmukhi', serif;
}

section p {
    margin-bottom: 1rem;
}

.explore:hover {
    background: whitesmoke;
}

.stars {
    color: orange;
}

.card {
    margin: 0px 0.9rem;
    display: flex;
    flex-direction: column;
    width: 14rem;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.courses-desc {
    width: 100%;
    padding: 0rem 2rem;
    padding-top: 1rem;
}

h3.courses-desc {
    font-size: 2rem;
    font-weight: bold;
}

p.courses-desc {
    font-size: 1rem;
}

.above-courses {
    width: 100%;
    margin: 1rem;
}


/* Header */

.head-continer {
    margin: 0% 20%;
    font-size: 0.8rem;
    background-color: #f8f9fb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: auto;
}

.head-bar {
    font-family: 'Tiro Gurmukhi', serif;
    height: 15rem;
    background-color: white;
    width: 35rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    padding: 2.5rem;
    margin: 0rem 2rem
}

.alarmphoto {
    width: 50%;
}


/* Media Query */

@media screen and (max-width: 1200px) {
    .search-bar {
        flex-grow: 1;
    }
    .head-bar {
        font-family: 'Tiro Gurmukhi', serif;
        height: 15rem;
        background-color: white;
        width: 35rem;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
        padding: 2.5rem;
        margin: 0rem 1rem
    }
}

@media screen and (max-width: 1080px) {
    .head-continer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .head-bar {
        width: 100%;
        margin-top: 0rem;
        box-shadow: 0 0;
    }
    .head-bar h1,
    .head-bar h3 {
        padding: auto;
        text-align: center;
    }
    .search-bar {
        flex-grow: 1;
    }
    nav button,
    nav a {
        width: 10%;
    }
    #udemy-bus {
        display: none;
    }
    .shopping-cart {
        width: auto;
    }
    .courses>.course-card {
        width: 33%;
        margin: 100px auto;
    }
    .explore {
        width: 6rem;
        font-size: 50%;
        margin: 3rem;
        height: 2rem;
    }
    .center_element>h3,
    .center_element>p {
        font-size: 1rem;
    }
    section h1,
    p {
        font-size: 1.2rem;
        text-align: left;
        padding: 0;
    }
    .courses-desc {
        width: 100%;
        padding: 0rem 2rem;
        padding-top: 1rem;
    }
    h3.courses-desc {
        font-size: 1rem;
        font-weight: bold;
    }
    p.courses-desc {
        font-size: 1rem;
    }
    .above-courses {
        width: 100%;
        margin: 1rem;
    }
    .above-courses p,
    .above-courses h3 {
        font-size: 1rem;
    }
    .courses {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .nav-items {
        justify-content: space-between;
    }
    .nav-items .menu {
        display: block;
        font-size: 2rem;
        border: none;
        background: none;
        margin-left: 0%;
    }
    .nav-items .menu:hover {
        color: purple;
    }
    .menu-item,
    .cat,
    .nav-buttons {
        display: none;
    }
    .logo {
        align-self: center;
    }
    .nav-items button,
    .nav-items a {
        margin: 15% 10%;
        width: 10%;
    }
    .head-bar {
        width: 100%;
    }
    .head-bar>h1,
    .head-bar>h3 {
        font-size: 1rem!important;
    }
    nav ul {
        width: 100%;
        padding: 0 1rem;
    }
    .courses>.course-card {
        width: 20rem;
        margin: 1rem 1rem;
    }
    h4,
    .price,
    .rating>.stars,
    .rating>.grey,
    .author {
        font-size: 0.5rem;
        padding-bottom: 0.2rem;
    }
    .card-img>img {
        padding-bottom: 0.5rem;
    }
    .courses {
        width: 15rem;
    }
    section {
        width: 15rem;
        margin: 0rem;
        padding: 0rem 0rem;
        margin: auto;
    }
    .explore {
        width: 6rem;
        font-size: 50%;
        margin: 0.5rem;
        height: 2rem;
    }
    .above-courses {
        width: 80%;
        margin: 1rem;
    }
    section>.above-courses>p,
    section>.above-courses>h1 {
        margin: 0rem;
        font-size: 1rem;
    }
    .courses-desc {
        width: 100%;
        padding: 0.5rem;
    }
    h3.courses-desc {
        font-size: 1rem;
        font-weight: bold;
    }
    p.courses-desc {
        font-size: 1rem;
    }
    .head-continer>img {
        width: 100%;
    }
    .above-courses p,
    .above-courses h3 {
        font-size: 1rem;
    }
    section {
        width: 100%;
    }
    .courses {
        width: 80%;
    }
}